<h2> Posts </h2>
<p> <%= link_to "New Post", new_post_path %></p>
<% @posts.each do |post| %>
	<div class="post">
		<h3><%= post.title %></h3>
		<h3><%= post.body %></h3>
	</div>
	<div>
		<%= post.tag_list %>
	</div>
	<hr>
<% end %>
